<%-include("../partials/adminHeader")%>

<section class="content-main">
  <div class="row">
    <div class="col-9">
      <div class="content-header">
        <h2 class="content-title">Add New Product</h2>
      </div>
    </div>

    <%if(locals.message){%>
         <div class="alert-danger">
          <%=message%>
         </div>
         <%}%>

     <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <form method="post" action="/admin/addProducts" enctype="multipart/form-data">
            <div class="mb-4">
              <label for="product_name" class="form-label">Product Name</label>

              <input type="text" placeholder="Type here" name="productName" class="form-control border" id="product_name"/>
              <div id="productName-error" class="error-message"></div>
            </div>

            <div class="mb-4">
              <label class="form-label">Description</label>
              <textarea placeholder="Type here" name="description" class="form-control border" id="des_cription" rows="4" ></textarea>
              <div id="description-error" class="error-message"></div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Regular price</label>
                  <input placeholder="$" name="regularPrice" type="text" class="form-control border"/>
                  <div id="regularPrice-error" class="error-message"></div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Sale price</label>
                  <input placeholder="$" name="salePrice" type="text" class="form-control border"/>
                  <div id="salePrice-error" class="error-message"></div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="mb-4">
                  <label class="form-label">Quantity</label>
                  <input placeholder="" name="quantity" type="text" class="form-control border" />

                  <div id="quantity-error" class="error-message"></div>
                </div>
              </div>
            </div>
            <div class="row"></div>
            <div class="card mb-4">
              <div class="card-body">
                <div class="row gx-2">
                  <div class="col-sm-6 mb-3">
                    <label class="form-label">Category</label>
                    <select class="form-select border" style="width: 150px" name="category" >
                      <div id="category-error" class="error-message"></div>

                      <%for(let i=0;i<categorydata.length;i++){%>
                       <% if(categorydata[i].isListed){%>
                          <option value="<%=categorydata[i].name%>">
                            <%=categorydata[i].name%>
                            </option>
                        <%}%>

                      <%}%>
                      
                      
                        
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-2">
              <div class="card-header">
                <h4>Choose images</h4>
              </div>
              <div class="border row">
                <div id="addedImagesContainer" class="thumbnails-container"></div>
              </div>
              <div class="card-body">
                <div class="input-upload">
                  <img src="assets/imgs/theme/upload.svg" alt="" />
                  <input
                    class="form-control border" name="images" id="imageInput" type="file" accept="image/*" multiple/>
                  <div id="image-error" class="error-message"></div>
                </div>
              </div>
            </div>
            <div>
              <button class="btn btn-md rounded font-sm hover-up" type="submit" > Publish</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<%-include('../partials/adminFooter')%>
