
<%-include("../partials/userheader")%>
<style>
        
    .oval-btn {
    border-radius: 50px; 
    background-color: #53b2e2;
    width: 120px; 
    height: 50px;
    }
</style>


<div class="shop-main-wrapper section-padding pb-0">
    <div class="container">
        <div class="row">
            <!-- product details wrapper start -->
            <div class="col-lg-12 order-1 order-lg-2">
                <!-- product details inner end -->
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider">
                                <div class="pro-large-img img-zoom">
                                    <% for(let j=0;j<product.productimage.length;j++) { %>
                                        <img src="/uploads/product-images/<%=product.productimage[j] %>" alt="product-detail" />
                                    <% } %>
                                </div>
                            </div>
                            <div class="pro-nav slick-row-10 slick-arrow-style">
                                <div class="pro-nav-thumb">
                                    <% for(let j=0;j<product.productimage.length;j++) { %>
                                        <img src="/uploads/product-images/<%=product.productimage[j] %>" alt="product-detail" />
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des">
                                <div class="manufacturer-name">
                                    <a href="product-details.html">HasTech</a>
                                </div>
                                <h3 class="product-name"><%=product.productname%></h3>
                                <div class="ratings d-flex">
                                    <span><i class="fa fa-star-o"></i></span>
                                    <!-- <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span> -->
                                    <div class="pro-review">
                                        <span>1 Reviews</span>
                                    </div>
                                </div>
                                <div class="price-box">
                                    <span class="price-regular">$70.00</span>
                                    <span class="price-old"><del>$90.00</del></span>
                                </div>
                                <h5 class="offer-text"><strong>Hurry up</strong>! offer ends in:</h5>
                                <div class="product-countdown" data-countdown="2022/12/20"></div>
                                <div class="availability">
                                    <i class="fa fa-check-circle"></i>
                                    <span>200 in stock</span>
                                </div>
                                <p class="pro-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. Phasellus id nisi quis justo tempus mollis sed et dui. In hac
                                    habitasse platea dictumst.</p>

                                    <% } %>
                                <div class="d-flex justify-content gap-3">
                                    <button class="btn btn-primary oval-btn" onclick="addToCart('<%=product._id%>')">Add to
                                        Cart</button><br>
                                </div>
                                      <br>
                                <div class="quantity-cart-box d-flex align-items-center">
                                    <h6 class="option-title">qty:</h6>
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1"></div>
                                    </div>
                                </div>

                                <div class="pro-size">
                                    <h6 class="option-title">size :</h6>
                                    <select class="nice-select">
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>XL</option>
                                    </select>
                                </div>
                                <div class="color-option">
                                    <h6 class="option-title">color :</h6>
                                    <ul class="color-categories">
                                        <li>
                                            <a class="c-lightblue" href="#" title="LightSteelblue"></a>
                                        </li>
                                        <li>
                                            <a class="c-darktan" href="#" title="Darktan"></a>
                                        </li>
                                        <li>
                                            <a class="c-grey" href="#" title="Grey"></a>
                                        </li>
                                        <li>
                                            <a class="c-brown" href="#" title="Brown"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="useful-links">
                                    <a href="#" data-bs-toggle="tooltip" title="Compare"><i
                                            class="pe-7s-refresh-2"></i>compare</a>
                                    <a href="#" data-bs-toggle="tooltip" title="Wishlist"><i
                                            class="pe-7s-like"></i>wishlist</a>
                                </div>
                                <div class="like-icon">
                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i>like</a>
                                    <a class="twitter" href="#"><i c
                                    
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    


                                    <script>
                                        function addToCart(prodId){
                                            let quantity=1
                                            alert("entered")
                                            $.ajax({
                                                url:"/addtoCart",
                                                method:"post",
                                                data:{
                                                    quantity:quantity,
                                                    id:prodId
                                                },
                                                
                                            
                                            success:(res)=>{
                                               if(status===true) {
                                                swal.fire({
                                                    title:"added to cart",
                                                    text:"continue shopping",
                                                    icon:"success",
                                                    timer:"2000",
                                                    showConfirmButton:false
                                                })
                                                alert("ys")
                                               }else if(res.status==="out of stock"){
                                                swal.fire({
                                                    title:"stock empty",
                                                    text:"the product is out of stock",
                                                    icon:"error",
                                                    timer:"2000"
                                                })
                                               }else{
                                                Swal.fire({
                                                title: 'You need to Login first',
                                                 text: 'Continue Shopping',
                                                 icon: 'warning',
                                                 timer: 2000,
                                                 showConfirmButton: false
                                                 }).then(() => { window.location.href = '/login' });
                                               }
                                                
                                               
                                            },
                                            error:(err)=>{
                                                Swal.fire({
                                                 title: 'Error!',
                                                  text: 'An error occurred while processing your request.',
                                                   icon: 'error',
                                                     timer: 2000,
                                                      });
                                            }
                                        })

                                        }
                                    </script>


       <%-include("../partials/userfooter")%>  